@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    background-size:300% 300%;
    animation:gradient 15s ease infinite;
    color:white;
}

@keyframes gradient{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.container{
    text-align:center;
}

.data{
    font-size:22px;
    margin-bottom:20px;
    opacity:0.9;
}

.boxRelogio{
    display:flex;
    gap:30px;
    padding:30px 40px;

    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);

    border-radius:16px;
    box-shadow:0 8px 30px rgba(0,0,0,0.4);
}

.boxRelogio div{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:120px;
}

#horas,
#minutos,
#segundos{
    font-size:80px;
    font-weight:600;
    transition:0.2s;

    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

small{
    opacity:0.7;
}